body {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-conteiner {
    height: 100%;
    border: 2px solid red;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 70px;
}
header {
    /* border: 1px solid black; */
    background:red;
    display: flex;
}
header nav {
    width: 100%;
    height: 50%;
}
 .logo {
    border: 1px solid green;
}
 nav { 
 border:1px solid orange;
}
 ul { 
     border: 1px solid purple; 
}
main {
    border: 2px dotted orange;
    padding: 40px;
    display: flex;
    flex-direction: column;
}
.video-box {
    background: blue;
}
.video-text {
    background: orchid;
}
@media(min-width:640px) {
    
    nav ul {
        border:5px solid red;
        display:flex;
        justify-content: flex-end;
    }
    nav ul li {
        maring:0 20px;
    }
}